section.manual.long
  p: a(href="/manual") 返回
  h1 人狼入门2
  p <a href="welcome">人狼入门</a>的后续。
  p 在上一次，我们介绍了一些基础的内容，但这一次，我们将具体地解释常见的战术和村子进展的情况。

  section
    h2 关于进展
    p 游戏的展开有时会取决于占卜师的占卜结果。大致可以分为两种类型。
    section
      h3 黑进行
      p <strong>黑进行</strong>是指特别是在第二天早晨，<strong>占卜师</strong>中的某位突然给出了<b>黑</b>（人狼判定）的情况。
      p 在这种情况下，通常会对黑判定的人进行处刑。其目的是确认<strong>灵能者</strong>的反应。
      p 也就是说，要观察给出黑判定的占卜师和灵能者之间的<strong>线路</strong>。如果灵能者对被处刑的人给出了<b>黑</b>，那么线路就算连接上了；反之，如果给出了<b>白</b>，那么线路就算切断了。
      p 例如，如果两位灵能者公开职业（CO）并且都给出了黑判定，那么这两人中可能有一个是真正的（真品）灵能者，因此那位占卜师的信誉会提高。
      section
        h4 关于CO
        p 如果占卜师给出了黑判定，灵能者，有时甚至是对抗的占卜师也可能选择<b>潜伏</b>（不CO，混在村人中）。
        p 这是因为一旦CO，就有可能成为人狼的目标，同时如果职业者（<small>拥有非村人职业的人通常被称为职业者</small>）超过两人，猎人的护卫对象就会变得不确定。换句话说，如果占卜师以外的人不CO，猎人的护卫对象就只有一个选择，而人狼则必须选择攻击灰色的人，或者冒险攻击那位占卜师。
        p 相反，在白进行时灵能者CO则是为了避免被灰随机吊死。
        p 顺便说一下，在这个时点，从人狼的角度来看，占卜师是真是假几乎已经明确。也就是说，如果被黑判定的是真正的人狼，那么占卜师很可能是真的；如果黑判定出现在人狼之外，那么占卜师就是假的。当然，也有可能是人狼参与了占卜欺骗。
        p 然而，<b>狂人</b>的<b>误爆</b>（虽然是假冒占卜师，但偶然对人狼给出了黑判定）的情况偶尔也会发生。这就是为什么上面使用了「几乎」和「可能性」等词语。
        p 此外，人狼对人狼给出黑判定的战术被称为<b>内切</b>。主要是为了连接灵能者的线路。
        p 被黑判定的人有时也会CO，因为村人没必要配合谎言。所以当被黑判定的人选择CO时，可能是真正的占卜师对职业给出了黑，或者是为了避免被处刑而CO的人狼，或者是狂人被给出了黑，这些都是为了制造混乱。

    section
      h3 白进行
      p <strong>白进行</strong>是与黑进行相反的状态，占卜师没有人给出黑判定，只给出了<b>白判定</b>。
      p 在这种状态下，特别是因为没有明确的迹象表明谁可能是人狼，所以通常会观察CO的数量并进行<strong>灰随机</strong>或<strong>灵能全吊</strong>（详细内容后述）。
      p 白进行意味着占卜师可能都已经全员CO了，但没有出现黑判定，因此占卜师通常会在第二天白天全员CO。虽然不能说没有占卜师为了防被人狼狙击而选择潜伏的战术，但潜伏也有风险，比如可能在灰色随机中被吊死。
      p 对于灵能者来说，也可能会为了不在灰色随机中被吊死而选择CO。
      p 基本上如果是白进行，如果出现了对抗（声称和自己相同职业的人），自己也可以CO，这样就没有问题了。
      section
        h4 猎人的护卫对象
        p 与黑进行不同，在这种情况下，通常会有多个职业CO，护卫对象会让人感到困惑。
        p 要保护那些不想让其死去的人。
        p 一般来说，占卜师的信息更为重要，所以有时会选择保护占卜师。但有时也会反过来保护灵能者，或者在白进行中灵能者已经CO之后，如果占卜师给出了黑判定，那么灵能者的判定就变得重要了，所以也会去保护灵能者。

  section
    h2 关于CO数
    p 不同职业CO的数量会影响后续游戏的展开。
    p 一般来说，狂人不会潜伏，而是会进行某种形式的欺骗。
    p 人狼也可能进行欺骗，也可能不欺骗，但如果选择欺骗，通常至少会有一个人潜伏。这是因为全员进行欺骗风险较高。

    p 以下将说明一般情况下的例子。
    section
      h3 2-2
      p <b>2-2</b>表示占卜师和灵能者各有2人CO的情况。
      p 如果人狼只有2人，那么可能是<b>真狂-真狼</b>（占卜师CO中有真正的占卜师和狂人，灵能者CO中有真正的灵能者和人狼）或者<b>真狼-真狂</b>（占卜师CO中有真正的占卜师和人狼，灵能者CO中有真正的灵能者和狂人）。
      p 如果参与人数更多，且人狼有3人的情况下，可能会出现<b>真狼-真狼</b>或<b>狂狼-真狼</b>、<b>真狼-狂狼</b>等情况，但这些情况的概率较低。这是因为这些情况都涉及到某种<strong>缺失</strong>。所谓缺失，是指<b>初日牺牲者</b>（替身君）被分配了某种职业（非村人的）。在这种情况下，到了第二天白天的时候，即使所有人都CO完毕，也可能发现没有真品。第一种情况是因为狂人没有CO，所以是狂人缺失；第二种情况是因为没有真占卜师，所以是占卜师缺失；第三种情况是因为没有灵能者，所以是灵能者缺失。
      p 另外，随着参与人数的增加，必须考虑<strong>妖狐</strong>可能进行欺骗的情况，因此可能的模式也会增多。
      p 在白进行的情况下，这里主要有两种选择。一种是<strong>灰随机</strong>，另一种是<strong>灵能全吊</strong>。
      p 灰随机是从灰名单（未从占卜师那里得到白判定，且未进行任何CO的人）中随机选择一人进行处刑。
      p 灰随机的优点之一是可以保留<b>灵能者</b>并观察其反应（从灵能者的角度看，可以知道剩下多少只狼），而缺点是，如果放着两位灵能者不管，最终可能会错过处刑假装灵能者的狼，使其存活下来的可能性较大，或者如果在游戏初期就开始灰随机，由于占卜师的信息不足，灰色的范围较广，狼难以被吊死。
      p 相比之下，<b>灵能全吊</b>是将多位灵能者依次全部处刑。
      p 优点是可以确保处决混在灵能者中的假装灵能者（一般包括狂人在内的非村民阵营成员），连同真品一起。此外，与灰随机相反，灰色的人先被处刑，因此在全吊过程中，如果占卜师给出了黑判定，或者给出了白判定，灰色的数量减少，通过灰随机处决人狼的可能性也会提高。
      p 缺点是，如果灵能者中真的有狂人，可能会在没有处决任何人狼的情况下消耗两次吊刑机会。
      p 在2-2的情况下，特别是如果采用灵能全吊，由于难以判断占卜师的真伪，往往会变成占卜师的<strong>信用对决</strong>。所谓信用对决，是根据言行或CO的时机等因素来判断哪位占卜师更值得信赖。

      section
        h4 关于灵能全吊的中断
        p 灵能全吊是指在多天内将所有灵能者依次处刑，但如果在此期间占卜师给出了黑判定，有时会选择先吊死给出黑判定的那个人，或者将灵能全吊推迟到结束之后再处理。
        p 在灵能全吊结束后，即使吊死了给出黑判定的人，也无法确定那个人是否真的是人狼。如果先吊死给出黑判定的人，可以看到灵能者中某一方的线路
        p 但如果还活着的灵能者是狼，并且为了生存而连接了线路（无论占卜师是真是假），那么这可能并不会提供太多参考价值。
    section
      h3 2-1
      p <b>2-1</b>表示占卜师有2人，而灵能者有1人CO的情况。
      p 传统的思路是<b>真狂-真</b>、<b>真狼-真</b>等。
      p 当灵能者只有1人时，就要考虑到<strong>灵能缺失</strong>的问题。也就是说，可能会出现像<b>真狂-狼</b>这样的情况，即出现的1位灵能者并不是真正的灵能者。因此，即使只有1位灵能者，也有必要考虑对其进行处刑。
      p 另外，如果人狼的数量较多，2-1这样的形态就会变得罕见，但可能会出现像<b>真狼-狼</b>这样的情况。
      p 然而，最有可能的情况仍然是<b>真狂-真</b>。
      p 重点是，在占卜师给出黑判定时，灵能者与哪位占卜师连接了线路。如果是真狂-真，那么连接线路的一对就是真搭档，而未连接的占卜师就是狂人，这对村人阵营是有利的。
    section
      h3 3-2
      p <b>3-2</b>的情况，很可能是<b>真狂狼-真狼</b>的组合。
      p 如果人狼有2人，当职业人数达到5人时，人狼的全暴露（人狼全员参与欺骗）就确定了，因此在<b>灰名单</b>中就不可能有人狼了，接下来可以通过占卜全吊和灵能全吊来驱逐人狼。
      p 然而，如果吊刑次数是4次，就无法处刑所有人，但即便如此，村人阵营的胜率仍然很高。另外，比如先进行灵能全吊，让占卜师互相占卜，有时也可能会揭露人狼。

      hr
      p 相对于此，如果人狼有3人，这种形态也是可能的。但也有可能混入了妖狐。
      p 这种形态比较复杂，首先考虑的和2-2一样，是灰随机或灵能全吊。但在3-2的情况下，灵能全吊更为常见。这是因为人狼不会对人狼投票（人狼为了在被吊刑可能性低时提高自己的信任度，有时会进行人狼对人狼投票的<strong>伪装投票</strong>策略），如果人狼剩下3人，至少会有3票投给非人狼，特别是如果人狼事先商量好了投票对象（三个人投同一个地方确实太明显了，所以通常是两个人一致），人狼被吊刑的可能性就会降低。
      p 因此，首先通过灵能全吊减少人狼到2人通常会更有利。
      p 之后可能会选择<strong>决定性打击</strong>（认定信誉高的占卜师为真占卜师，并相信其结果）或者进一步通过<strong>占卜全吊</strong>将人狼数量减少到1人（如果混入了妖狐，人狼可能剩下2人，情况会变得更加严峻）。
    section
      h3 3-1
      p <b>3-1</b>的情况，可能的组合是<b>真狂狼-真</b>等。
      p 特别是当人狼有2人时，几乎总是<b>真狂狼-真</b>，而<b>真狂狼-狼</b>则较难发生。因为如果不是灵能缺失，就不会形成这种形态，而且如果失败就会变成上述的3-2。占卜师3人出现后，确认灵能者没有出现，人狼再进行灵能CO，时机就会变得太晚，信任度会降低。真正的灵能者迟迟不出现，也可能是为了变成3-2而设的陷阱。
      p 由于上述原因，当人狼有2人时，3-1的灵能者几乎被视为真的。
      p 由于占卜师中确有人狼混入，所以也会进行<strong>占卜全吊</strong>。
      p 与上述的灵能全吊不同的是，<strong>在灵能者给出黑判定时可以中断全吊</strong>的可能性。
      p 这是因为在3个占卜师中很可能只有1个人狼，当确认已经有一个人狼被吊（真正的灵能者给出了黑判定）时，就没有必要再吊占卜师了。
      p 即使在这个时候还有占卜师剩下，也无法确定是真占卜师还是狂人，所以参考价值不大，但在某些情况下，可以利用灵能者是真的这一点来确定真正的占卜师。
      p 然而，狂人可能会为了无端浪费吊刑而故意给出黑判定，这也是一个难点。
      p 在这种情况下，最糟糕的是最后吊死的占卜师是人狼。这时，通过占卜全吊已经使用了3次吊刑。
      p 顺便说一下，占卜师3人中有2个人狼混入的情况，可以认为是相当罕见的。可能的组合包括真狼狼-真（狂人缺失的情况），狂狼狼-真（占卜师缺失的情况），真狼狼-狂（灵能者缺失的情况）等，但由于人狼全暴露风险较高，如果不是缺失，就会变成4-1（真狂狼狼-真），几乎确定会输掉比赛，这也是一个风险。

  section
    h2 战术
    p 介绍一种人狼使用的一个战术示例。
    section
      h3 包围
      p <strong>包围</strong>是指冒充占卜师对人狼给出<b>白</b>判定的行为。
      p 可能是狂人通过冒充占卜师偶然给出了白，或者是人狼包围占卜师并给出白的情况。
      p 如果发生了狂人导致的包围，从人狼的角度来看，可以明确谁可能是狂人，也必然能知道谁可能是真正的占卜师（但如果有妖狐存在，也要考虑妖狐导致的包围）。
      p 因此，例如当占卜师被咬时，意味着从人狼的角度来看，占卜师的真伪变得明确，被咬的一方可能是真正的占卜师，剩下的一方可能是假货，因此村人们会产生怀疑。
      p 在这种情况下，当考虑「为什么会出现真伪占卜师」时，可以想到「是因为狂人包围了人狼」这一点。
      p 当然，人狼方面也可以反过来利用这一点，如果占卜师是真狂，那么在占卜师的真伪未明确之前，咬掉其中的一个，从而破坏剩下占卜师的信誉，他们可能会采取这种战术。
      hr
      p 以上是关于狂人导致的包围，但如果是人狼导致的包围，情况就会有所不同。
      p 在这种情况下，必须注意不要让人怀疑包围的行为。此外，占卜师最终往往被咬，能够活到最后是罕见的，因此如果假冒占卜师的人狼活到了最后，人们会怀疑他是人狼，连锁反应可能导致被包围的对象也受到怀疑。尽管如此，到了那个时候，占卜的目标也会增加，包围中的人狼候选者也会变多，如果操作得当，人狼也有可能获胜。
      p 为此，人狼假冒占卜师时应该保留那些给出白判定的人，而不是急于咬掉他们。
      p 然而，由于占卜师给出了白判定，这意味着他们不是人狼，因此人狼应该更积极地咬那些给出白判定的人，如果不这样做，人们可能会怀疑他们是否真的是占卜师，这也是一个微妙的地方。
